// Natural colors
$white: white;
$white-smoke: whitesmoke;
$light: #b9b9b9;
$grey: #9d9d9d;
$dark: #000000;
$red: #FF003C;
$yellow:#F3E600;
$neon: #04DAF6;
$brown:#554B41;
$green:green;
// Bacground colors

// Button colors

// Text colors

// Border colors

// Fonts

//Title variables
$title-fs: 50px;
$title-color: red;
$title-fw: 600;
$title-ff: sans-serif;

//Subtitle variables
$subtitle-fs: 35px;
$subtitle-color: green;
$subtitle-fw: 500;
$subtitle-ff: sans-serif;

//Text variables
$text-fs: 25px;
$text-color: brown;
$text-fw: 400;
$text-ff: sans-serif;

$phone: 400px;
$phone-wide: 480px;
$phablet: 560px;
$tablet-small: 700px;
$tablet: 768px;
$tablet-lb: 769px;
$tablet-wide: 1025px;
$desktop: 1248px;
$desktop-wide: 1440px;
