.modal {
    width: 300px;
    height: 300px;
    background-color: rgba(6, 24, 44, 0.9);
    border: 2px solid $neon;
    z-index: 4;
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    border-radius: 5px;
    @include flex-main(column, center, center);
    @include media-q($phone-wide){
      width: 400px;
      height: 300px;
      top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    
    }
    &__result {
      margin-bottom: 60px;
      @include font(Cyber, 25px, 400, $yellow);
      text-align: center;
    }

    &__wrapper {
      width: 100vw;
      height: 100vh;
      background-color: transparent;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
      display: none;
      @include media-q($phone-wide){
        background-color: rgba(6, 24, 44, 0.4);
      }
    }
    &__exit {
      position: absolute;
      right: 20px;
      top: 20px;
      font-weight: 600;
      font-size: 1.5rem;
      cursor: pointer;
      transition: 0.3s ease all;
      @include font(Cyber, 25px, 400, $red);
      &:hover {
        color: $yellow;
      }
    }
  }